{# добавление ссылки #}
{% extends 'ItBlasterMainBundle::layout.html.twig' %}

{% block content %}
    <div class="col-lg-6">
        <p class="help-block">Проект: <a href="{{ path('project-show',{'project_name':project.slug}) }}">{{ project.title }}</a></p>

        <form action="{{ path('project-link-add',{'project_name':project.slug}) }}" method="post" {{ form_enctype(form) }} id="project-link-add-form" class="form" role="form">
            {{ form_errors(form) }}

            {% include 'ItBlasterMainBundle:ProjectLink:form_fields.html.twig' with {'form': form} %} {# Поля формы #}

            {{ form_rest(form) }}

            <div>
                <button type="submit" class="btn">Создать</button> <a href="{{ path('project-show',{'project_name':project.slug}) }}" class="btn">Вернуться</a>
            </div>
        </form>
    </div>
{% endblock content %}
