{# Действия над проектом #}
<a href="" title="Обновить"><img src="{{ asset('images/icons/sinchronize.png') }}" alt="Обновить" /></a>
<a href="{{ path('project-edit',{'project_name':project.slug}) }}" title="Редактировать"><img src="{{ asset('images/icons/edit.png') }}" alt="Редактировать" /></a>
<a href="{{ path('project-delete',{'project_name':project.slug}) }}" class="project_delete" title="Удалить"><img src="{{ asset('images/icons/delete.png') }}" alt="Удалить" /></a>