{# Форма добавления нового проекта пользователя #}
{% extends 'ItBlasterMainBundle::layout.html.twig' %}

{% block content %}
    <div class="col-lg-6">
        <form action="{{ path('project-add') }}" method="post" {{ form_enctype(form) }} id="project-add-form" class="form" role="form">
            {{ form_errors(form) }}

            <div class="form-group">
                {{ form_label(form.title) }}
                {{ form_errors(form.title) }}
                {{ form_widget(form.title) }}
            </div>

            {{ form_rest(form) }}

            <div>
                <button type="submit" class="btn">Создать</button>
            </div>
        </form>
    </div>
{% endblock content %}
