{# Ссылка проекта в таблице ссылок #}
<td>{{ link.title }}</td>
<td><a href="{{ link.link }}" target="_blank" title="Открыть в новом окне">{{ link.getLinkShort }} <img src="{{ asset('images/icons/external_link.png') }}" /></a></td>
<td>
    {% if(link.status) %}
        <span class="btn-xs btn-success">OK</span>
    {% else %}
        <span class="btn-xs btn-danger">FAIL</span>
    {% endif %}
</td>
<td>{{ link.statusCode }}</td>
<td>{{ link.totalTime }}</td>
<td>{{ link.lastCheck('d.m.Y H:i:s') }}</td>
<td class="project_table_actions">
    <a href="{{ path('project-link-update',{'id':link.id}) }}" class="project-link-update" title="Обновить"><img src="{{ asset('images/icons/sinchronize.png') }}" class="update-img" alt="Обновить" /><img src="{{ asset('images/update-loader.gif') }}" class="loader" style="display: none;"></a>
    <a href="{{ path('project-link-edit',{'id':link.id}) }}" title="Редактировать"><img src="{{ asset('images/icons/edit.png') }}" alt="Редактировать" /></a>
    <a href="{{ path('project-link-delete',{'id':link.id}) }}" class="project_link_delete" title="Удалить"><img src="{{ asset('images/icons/delete.png') }}" alt="Удалить" /></a>
</td>