{% extends '::base.html.twig' %}

        {% block body %}
            <div id="{{ app.user ? 'wrapper' : 'wrapper-not-authorized' }}">

                {{ render(controller("ItBlasterMainBundle:Layout:header", {'request':app.request})) }} {# header #}


                <div id="page-wrapper">

                    <div class="container-fluid">

                        <!-- Page Heading -->
                        <div class="row">
                            <div class="col-lg-12">

                                {{ render(controller("ItBlasterMainBundle:Layout:title", {'request':app.request})) }} {# title #}
                                {{ render(controller("ItBlasterMainBundle:Layout:breadcrumbs", {'request':app.request})) }} {# breadcrumbs #}

                                <div id="content">
                                    {% block content %}

                                    {% endblock content %}
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->

                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- /#page-wrapper -->

                {{ render(controller("ItBlasterMainBundle:Layout:footer", {'request':app.request})) }} {# footer #}

            </div>
            <!-- /#wrapper -->

        {% endblock body %}